<h2>Event Detail</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Logo</th>
        <th>Realizado por</th>
        <th>Max Of Volunteers</th>
        <th>Name</th>
        <th>Event Type</th>
        <th>Description</th>
        <th>Event Date</th>
    </tr>
    </thead>
    <tr *ngFor="let event of events">
        <td><img [src]="event.image" width="150" height="150" /></td>
        <td (click)="detailFunc2(event.organization)" >{{event.organization}}</td>
        <td>{{event.maxVolunteers}}</td>
        <td>{{event.eventId.name}}</td>
        <td>{{event.eventType}}</td>
        <td>{{event.description}}</td>
        <td>{{event.eventDate}}</td>

    </tr>
</table>
<td><button *ngIf="isVolunteer()" type="button" class="btn btn-success" (click)="rol()">Rol</button></td>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Current Volunteers</th>
    </tr>
    </thead>
    <tr *ngFor="let volunteer of volunteers">
        <td (click)="detailFunc(volunteer)">{{volunteer}}</td>
    </tr>
</table>