<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApphD15aEUPK6CUlQkduKgc3o3L8U0hY4&callback=myMap"></script>
<h2>Event Detail</h2>
<div>
<table class="table table-bordered">
    <thead>
    <tr>
        <!--<th>Logo</th>-->
        <th>Max Of Volunteers</th>
        <th>Name</th>
        <th>Event Type</th>
        <th>Description</th>
        <th>Event Date</th>
    </tr>
    </thead>
    <tr *ngFor="let event of events">
        <!--<td><img class="img-responsive empImg" id="empImage" data-ng-src="'data:image/png;base64,'+{{event.image}}" /></td>-->
        <!--<td><img [attr.src]="data:image/JPEG;base64,{{event.image}}" width="150" height="150" /></td>-->
        <!--<td><img [src]="event.image" width="150" height="150" /></td>-->
        <td>{{event.maxVolunteers}}</td>
        <td>{{event.name}}</td>
        <td>{{event.eventType}}</td>
        <td>{{event.description}}</td>
        <td>{{event.eventDate}}</td>
    </tr>
</table>
</div>


<div class="form-group">
    <agm-map id="localitation" [latitude]="latitude" [longitude]="longitude" >
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
</div>
<td><button *ngIf="isVolunteer()" type="button" class="button" (click)="rol()">Rol</button></td>
<form [formGroup]="newMessageEmail" *ngIf="!isVolunteer()" (ngSubmit)="onSubmit()" novalidate>
    <button *ngIf="isOrganization()" class="button" type="button" data-toggle="modal" data-target="#exampleModal" (click)="ver(exampleModal)" >Send Message all volunteers</button>
    <!-- Modal -->
    <ng-template #exampleModal let-c="close">
        <div class="modal-header">
            <label for="email">Message for all volunteer</label>
        </div>
        <div class="modal-body">
            <input  class="form-control mr-sm-2" type="text" placeholder="Subject" aria-label="Subject" formControlName="Subject" required>
            <label for="email">Content</label>
            <textarea   class="form-control" rows="5" id="email" formControlName="email" required></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" (click)="onSubmit()" class="button">Send Message</button>
            <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Cancel</button>

          </div>
        
    </ng-template>
</form>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Current Volunteers</th>
    </tr>
    </thead>
    <tr *ngFor="let volunteer of volunteers">
        <td (click)="detailFunc(volunteer)">{{volunteer.name}}</td>
    </tr>
</table>
