<div class="container">
    <br>
    <br>
    <br>
    <div id="how-works--space" class="row">
        <section id="how-works" class="text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>What is volunteering?
                  </h2>
                <br>
                <br>
            </div>
            <div class="container">
                <label>Volunteer is any natural person who freely and responsibly, without receiving remuneration of labor nature, offers time, work and talent for the construction of the common good, individually or collectively, in public and private organizations or outside of them. (Volunteer Law No. 720 of 2001).</label>
              </div>
            <div >
            </div>
        </section>
    </div>
    <p></p>.
  <div id="how-works--space" class="row">
      <section id="how-works" class="text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>How does it work?
                </h2>
              <br>
              <br>

          </div>
          <div class="container">
              <div class="row">
                <div class="col-sm">
                    <img src="https://i.imgur.com/4h5ZMAH.png" alt="step-one">
                    <p>Find the project that most interests you.</p>
                </div>
                <div class="col-sm">
                    <img src="https://i.imgur.com/GHtj5pm.png" alt="step-two">
                    <p>Join the cause and become a volunteer for a better world.</p>
                </div>
                <div class="col-sm">
                    <img src="https://i.imgur.com/r9gIVKu.png" alt="step-three">
                    <p>Rate the volunteers you have participated in.</p>
                </div>
                <div class="col-sm">
                    <img src="https://i.imgur.com/mBKiBfu.png" alt="step-four">
                    <p>Share your experience as a volunteer for a better world. </p>
                </div>
              </div>
            </div>
          <br>
          <br>
          <br>
          <div >
          </div>
      </section>
  </div>
</div>