<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">COSW Angular4</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/home" routerLink="/home">Home</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/tasks" routerLink="/tasks">Tasks</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/edit" routerLink="/edit">Edit</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/users" routerLink="/users">Users</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLinkActive="/editUsers" routerLink="/editUsers">Edit Users</a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item">
                <a href="#" class="nav-link" (click)="signOut()">(Sign Out)</a>
            </li>
        </ul>
        <form *ngIf="isLoggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="mensaje(messageModal)" #navForm="ngForm">
            <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        </form>
        
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<ng-template #messageModal>
    <div class="modal-header">
        <h4 class="modal-title">Search User</h4>
    </div>
    <div class="modal-body" [innerHTML] = "modalBody"></div>
</ng-template>