<h2>Volunteer Detail</h2>
<div>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Picture</th>
        <th>Mail</th>
        <th>State</th>
        <th>City</th>
        <th>Address</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr *ngFor="let user of users">
        <td><img [src]="user.photo" width="150" height="150" /></td>
        <td>{{user.mail.mail}}</td>
        <td>{{user.state}}</td>
        <td>{{user.city}}</td>
        <td>{{user.address}}</td>
        <td>{{user.description}}</td>

    </tr>
    </table>
    <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Born Date</th>
                <th>Hours</th>
                <th>Volunteers Made</th>
            </tr>
            </thead>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.bornDate}}</td>
                <td>{{user.hours}}</td>
                <td>{{user.volunteerMade}}</td>
        
            </tr>
            </table>
</div>
<h2>My events</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Event Logo</th>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr *ngFor="let event of events">
        <td><img [src]="event.image" width="150" height="150" /></td>
        <td (click)="detailFunc(event.id)">{{event.id}}</td>
        <td>{{event.eventDate}}</td>
        <td><button type="button" class="button" (click)="unrol(event.id)">Unrol</button></td>
    </tr>
    <button type="button" class="button" routerLinkActive="/volunteerProfConf" routerLink="/volunteerProfConf">Edit</button>
</table>